@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
	Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
 <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Paper Stack</title>
	<link rel="stylesheet" type="text/css" href="~/css/estilo.css" />
</head>
<body>
	<div class="container">
		<section id="content">
			<form id="account" method="post">
				<h1>Registro</h1>
				<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
				<div>

					<input asp-for="Input.Email" type="text" autocomplete="username" aria-required="true" placeholder="Username" required="" id="username" />
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<div>
					<input asp-for="Input.Password" type="password" autocomplete="new-password" aria-required="true"  placeholder="Password" required="" id="password" />
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div>
					<input asp-for="Input.ConfirmPassword" type="password" placeholder="Confirma Password" required="" id="password" />
					<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
				</div>
				<div>
					<input id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary" value="Registrate" />
					
				</div>
			</form><!-- form -->

		</section><!-- content -->
	</div><!-- container -->
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
